//Block definition sm-box
.sm-box {
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #fafafa;
    position: relative;
    color: #999;
    cursor: pointer; //element image definition
    &__image {
        width: 100%;
    } //element info definition
    &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background: #fafafa;
        margin: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    } //element title definition
    &__title {
        font-size: 14px;
        &--dark{
            color: #333;
        }
        &--bg {
            font-size: 18px;
        }
    } //element content definition
    &__content {
        font-size: 12px;
        &--bg {
            font-size: 16px;
        }
    } //element published definition
    &__published {
        font-size: 11px;
        position: absolute;
        bottom: 10px;
        &--bg {
            font-size: 15px;
        }
    } //behavior definitions
    &:hover {
        .sm-box__info {
            opacity: 1;
        }
    }
}